.card {
  display: flex;
  flex-direction: column;
  height: rem(451px);
  width: 100%;

  box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.06);

  &__img {
    height: rem(249px);
  }

  &__bot {
    height: 100%;
    padding: rem(33px) rem(28px) rem(43px);
    background-color: color(white);
  }

  &__label {
    margin-bottom: rem(17px);

    color: color(gray);
    @include fsl(14px, 120%);

    &.alt {
      color: color(light-blue);
    }
  }

  &__title {
    margin-bottom: rem(25px);

    @include fsl(20px, 120%);

    &.alt {
      color: color(white);
    }
  }

  &__btn {
    color: color(orange);
    @include fsl(14px, 120%);
  }
}