.clients {
  $comp: &;
  padding: rem(110px) 0 0;
  @media #{media("<")} {
    padding: rem(90px) 0 0;
  }

  &__title {
    color: color(white);
  }

  &__text {
    color: color(white);
  }

  &__slider {
    padding-bottom: rem(110px);
    @media #{media("<")} {
      padding-bottom: rem(90px);
    }
    overflow: hidden;
  }

  &__card {
    position: relative;
    z-index: 0;
    padding: rem(7px);

    display: block;
    width: rem(232px);
    height: rem(128px);

    background-color: color(white);
    transition: $transition;
    transform-origin: top right;

    &:hover {
      z-index: 1;
      transform: rotate(-8deg);

      #{$comp}__container {
        border-color: color(orange);
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition;
    border: 2px solid #E6E8EB;
    // border-image-source: linear-gradient(180deg, #E6E8EB 0%, rgba(230, 232, 235, 0) 100%);
  }

  &__img {
    margin: 0 rem(20px);
    
    width: 100%;
  }
}