.feedback {

  padding-top: rem(426px);
  padding-bottom: rem(123px);
  @media #{media("<")} {
    padding-top: rem(560px);
    padding-bottom: rem(90px);
  }

  &__title {
    margin-bottom: rem(40px);
    @media #{media("<")} {
      margin-bottom: rem(28px);
      max-width: none;
    }
    max-width: rem(1025px);

    color: color(white);
  }

  &__inner {
    display: flex;
    @media #{media("<")} {
      display: block;
    }
  }

  &__item {

    display: flex;

    &:not(:first-child) {
      margin-left: rem(23px);
      @media #{media("<")} {
        margin-left: 0;
        margin-top: rem(20px);
      }
    }
  }

  &__link {
    padding: 0 rem(20px) 0 rem(17px);

    height: rem(48px);
    display: flex;
    align-items: center;

    border-radius: rem(15px);
    background: rgba(255, 255, 255, 0.08);
  }

  &__icon {
    margin-right: rem(13px);

    display: flex;
    align-items: center;
  }

  &__svg {
    width: rem(24px);
    height: rem(24px);
  }

  &__text {
    font-weight: 600;
    @include fsl(14px);
    color: color(white);
  }
}