.swiper-pagination {

  &--custom {
    position: static;

    // height: rem(89px);
    // @media #{media("<")} {
    //   height: rem(48px);
    // }
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .swiper-pagination-bullet {
      margin-top: rem(10px) !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      // @media #{media("<")} {
      //   margin-left: rem(9px) !important;
      // }

      // display: block;
      width: rem(17px);
      height: 2px;

      border-radius: 0;
      background: color(white);
      opacity: 1;
      transition: $transition;

      &:first-child {
        margin-left: 0 !important;
      }

      &-active {
        width: rem(30px);
        background: color(orange);
      }
    }
  }
}

// .swiper-button-next, .swiper-button-prev {
//   font-weight: 700;
//   color: color(white);
// }