extends ../app

block footer
  +footer(block = 'text-us')

block content
  .news-page 
    section.section.section--first 
      .container 
        +breadcrumbs(items=['Информация'] page = 'Статья')
        h1.section__heading
          |Однозначно, базовые сценарии поведения пользователей и по сей день остаются уделом либералов, которые жаждут быть объективно рассмотрены соответствующими инстанциями.
        .news-page__date 
          |Статья 1    —    20.03.2023
        .news-page__content
          .news-page__row 
            .news-page__col
              .news-page__img(data-src='assets/images/article.jpg' data-fancybox='gallery')
                +picture('article.jpg')
            .news-page__col
              p
                |Полиэфирная смола конструкционная наносится как вручную, так и методом машинного напыления, обладает умеренной реакционной способностью.Данная смола очень проста в применении и обладает прекрасными технические свойствами. Способна покрыть максимальное количество волокон и равномерно распределяется в матрицах. Подходит для общего применения, имеет низкую усадку объема и средний экзотермический пик.Данная полиэфирная смола отлично пропитывает стеклоткани, что позволяет получить больше единиц продукции за короткий срок. #[br] Применяется смола в разных сферах, таких как: автомобилестроение, морской транспорт, производство контейнеров. #[br] Смола должна хранится в сухом месте с температурой от 5°C до 20°C при минимальном количестве света. При повышенной температуре срок хранения уменьшается. Срок хранения стирола, содержащего ненасыщенные полиэфиры будет значительно снижаться при воздействии света. Хранить вдали от источников возгорания: пламени, электрических искр и искрящих инструментов. Не курить вблизи контейнеров и при использовании. Контейнеры должны хранится отдельно от окислителей, пероксидов.
          .news-page__inner 
            p 
              |Полиэфирная смола конструкционная наносится как вручную, так и методом машинного напыления, обладает умеренной реакционной способностью.Данная смола очень проста в применении и обладает прекрасными технические свойствами. Способна покрыть максимальное количество волокон и равномерно распределяется в матрицах. Подходит для общего применения, имеет низкую усадку объема и средний экзотермический пик.Данная полиэфирная смола отлично пропитывает стеклоткани, что позволяет получить больше единиц продукции за короткий срок.
            h3 
              |Применяется смола в разных сферах, таких как: автомобилестроение, морской транспорт, производство контейнеров.
            ul
              each item in ['Смола должна хранится в сухом месте с температурой от 5°C до 20°C при минимальном количестве света. ', 'При повышенной температуре срок хранения уменьшается. ', 'Срок хранения стирола, содержащего ненасыщенные полиэфиры будет значительно снижаться при воздействии света. ', 'Хранить вдали от источников возгорания: пламени, электрических искр и искрящих инструментов.', 'Не курить вблизи контейнеров и при использовании. Контейнеры должны хранится отдельно от окислителей, пероксидов.',]
                li 
                  |#{item}
            h3 
              |Применяется смола в разных сферах, таких как: автомобилестроение, морской транспорт, производство контейнеров.
            ol 
              each item in ['Смола должна хранится в сухом месте с температурой от 5°C до 20°C при минимальном количестве света. ', 'При повышенной температуре срок хранения уменьшается. ', 'Срок хранения стирола, содержащего ненасыщенные полиэфиры будет значительно снижаться при воздействии света. ', 'Хранить вдали от источников возгорания: пламени, электрических искр и искрящих инструментов.', 'Не курить вблизи контейнеров и при использовании. Контейнеры должны хранится отдельно от окислителей, пероксидов.',]
                li 
                  |#{item}
            .news-page__desc 
              .news-page__desc-title 
                |Полиэфирная смола конструкционная наносится как вручную, так и методом машинного напыления, обладает умеренной реакционной способностью.
              .news-page__desc-text 
                |Данная смола очень проста в применении и обладает прекрасными технические свойствами. Способна покрыть максимальное количество волокон и равномерно распределяется в матрицах. Подходит для общего применения, имеет низкую усадку объема и средний экзотермический пик.Данная полиэфирная смола отлично пропитывает стеклоткани, 