mixin footer
  .footer-wrapper(class=(attributes.block == 'text-us' || attributes.block == 'requisite'|| attributes.block == 'clients' ? 'alt' : ''))
    if (attributes.block)
      case attributes.block 
        when 'text-us'
          +text-us
        when 'text-us-white'
          +text-us-white
        when 'requisite'
          +requisite
        when 'clients'
          +clients
        when 'feedback'
          +feedback
    footer.footer(class=(attributes.block ? 'footer--big' : ''))
      .footer__inner 
        .container 
          .footer__row 
            .footer__col.desktop
              a.footer__logo(href="#")
                +logo-white-svg.footer__logo-svg
              .footer__text 
                |© 2023 КЭАЗИТ. #[br] Все права защищены
              .footer__made
                |Разработка сайта: 
                a.footer__made-link(href="#")
                  +made-svg.footer__made-svg
            .footer__col
              .footer__column
                .footer__heading 
                  |Разделы
                ul.footer__list
                  each item in ['О компании', 'Каталог', 'Информация', 'Контакты'] 
                    li.footer__list-item 
                      a.footer__text(href="#")
                        |#{item} 
              .footer__column
                .footer__heading 
                  |Документы
                ul.footer__list
                  each item in ['Политика конфиденциальности', 'Пользовательское соглашение', 'Карта сайта',] 
                    li.footer__list-item 
                      a.footer__text(href="#")
                        |#{item} 
            .footer__col
              .footer__heading 
                |Контакты
              .footer__container 
                .footer__item 
                  .footer__text 
                    |Полиэфирные смолы и компаунды типа SMC, BMC
                  .footer__links 
                    .footer__links-item 
                      a.footer__link(href="tel:+7(910)2162378")
                        |+7 (910) 216-23-78 
                    .footer__links-item 
                      a.footer__link(href="mailto:vikivanov@keaz.ru")
                        |vikivanov@keaz.ru
                .footer__item 
                  .footer__text 
                    |Полиэфирные смолы и компаунды типа SMC, BMC
                  .footer__links 
                    .footer__links-item 
                      a.footer__link(href="tel:+7(910)7404270")
                        |+7 (910) 740-42-70
                    .footer__links-item 
                      a.footer__link(href="mailto:vsavenkov@keaz.ru")
                        |vsavenkov@keaz.ru
            .footer__col.mobile
              a.footer__logo(href="#")
                +logo-white-svg.footer__logo-svg
              .footer__text 
                |© 2023 КЭАЗИТ. Все права защищены
              .footer__made
                |Разработка сайта: 
                a.footer__made-link(href="#")
                  +made-svg.footer__made-svg

//- footer blocks
mixin text-us 
  .form 
    .form__label
      |Обратная связь
    .form__title 
      |Напишите нам
    .form__text 
      |И в ближайшее время с вами свяжется наш мендежер
    form.form__form(action="/")
      .form__item 
        .form__grid 
          input.form__input(type="text" placeholder='Ваше имя')
          input.form__input(type="text" placeholder='Ваш номер телефона')
      .form__item 
        textarea.form__textarea(placeholder='Опишите ваш вопрос')
      .form__item 
        .form__caption 
          |При нажатии на кнопку ”Отправить” вы автоматически соглашаетесь на персональную обработку данных
      .form__item 
        .form__btn 
          button.btn
            |Отправить

mixin text-us-white
  .form-wrapper
    .form-wrapper__img 
      +picture('footer-bg.jpg')
    .form.form--white
      .form__label
        |Обратная связь
      .form__title 
        |Напишите нам
      .form__text 
        |И в ближайшее время с вами свяжется наш мендежер
      form.form__form(action="/")
        .form__item 
          .form__grid 
            input.form__input(type="text" placeholder='Ваше имя')
            input.form__input(type="text" placeholder='Ваш номер телефона')
        .form__item 
          textarea.form__textarea(placeholder='Опишите ваш вопрос')
        .form__item 
          .form__caption 
            |При нажатии на кнопку ”Отправить” вы автоматически соглашаетесь на персональную обработку данных
        .form__item 
          .form__btn 
            button.btn
              |Отправить

mixin requisite 
  .requisite
    .container
      .category.category--req
        |— Реквизиты
      .requisite__title
        |Наши реквизиты
      .requisite__row 
        .requisite__col
          .requisite__text 
            |Общество с ограниченной ответственностью «Курский завод композитных материалов»
          .requisite__text 
            |ИНН: 4632210994 #[br] КПП: 463201001 #[br] ОГРН 1164632050318
        .requisite__col
          .requisite__text 
            |Закрытое акционерное общество «ЭЛАТ-Инструмент»
          .requisite__text 
            |ИНН 4632120042 #[br] КПП 463201001 #[br] ОГРН 1104632003850

mixin clients 
  .clients.section
    .container 
      .category.category--req
        |— клиенты
      .main-page__team-top
        .main-page__team-row
          h3.section__title.clients__title
            |Наши клиенты
          .main-page__team-col 
            .only-desktop
              .main-page__team-text.clients__text
                |Единственная компания в России, имеющая полный цикл создания полиэфирных премиксов и смолы.
            .main-page__team-btn 
              button.arrow-btn(data-slider-button = '3') 
                +arrow-btn-svg.arrow-btn__icon
        .only-mobile 
          .main-page__team-text.clients__text
            |Единственная компания в России, имеющая полный цикл создания полиэфирных премиксов и смолы.
      .clients__slider 
        .swiper-container.swiper-container--slide-height-max.swiper-container--slide-width-auto(data-slider-id='clients' data-slider-prev='1' data-slider-next='3')
          .swiper-wrapper
            - for (j = 0; j < 2; j++)
              - for (i = 1; i < 6; i++)
                .swiper-slide
                  a.clients__card(href="#")  
                    .clients__container 
                      .clients__img 
                        +picture(`client-${i}.jpg`)

mixin feedback 
  .feedback
    .container
      .category.category--req 
        |— обратная связь
      .section__title.feedback__title 
        |Отправляйте ваше резюме на электронную&nbsp; почту
      .feedback__inner 
        .feedback__item 
          a.feedback__link(href="#")
            .feedback__icon
              +user-svg.feedback__svg 
            .feedback__text 
              |Иванов Виктор Сергеевич
        .feedback__item 
          a.feedback__link(href="mailto:mailto:vikivanov@keaz.ru")
            .feedback__icon
              +mail-svg.feedback__svg 
            .feedback__text 
              |mailto:vikivanov@keaz.ru
        .feedback__item 
          a.feedback__link(href="tel:+7(910)2162378")
            .feedback__icon
              +phone-svg.feedback__svg 
            .feedback__text 
              |+7 (910) 216-23-78

